<button type="button" (click)="carga()" class="btn btn-primary" >Carga</button>
<br>

<div *ngIf="dataList?.length > 0" style="margin: 10px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nº</th>
        <th scope="col">a</th>
        <th scope="col">b</th>
        <th scope="col">c</th>
        <th scope="col">d</th>
        <th scope="col">e</th>
        <th scope="col">f</th>
        <th scope="col">g</th>
        <th scope="col">h</th>
        <th scope="col">i</th>
        <th scope="col">j</th>
        <th scope="col">k</th>
        <th scope="col">l</th>
        <th scope="col">m</th>
        <th scope="col">n</th>
        <th scope="col">o</th>
        <th scope="col">p</th>
        <th scope="col">q</th>
        <th scope="col">r</th>
        <th scope="col">s</th>
        <th scope="col">t</th>
        <th scope="col">u</th>
        <th scope="col">v</th>
        <th scope="col">w</th>
        <th scope="col">x</th>
        <th scope="col">y</th>
        <th scope="col">z</th>
        <th scope="col">suma</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of dataList; index as i" >
        <td>{{i+1}}</td>
        <td>{{ d['A'] ? d['A'] : 0 }}</td>
        <td>{{ d['B'] ? d['B'] : 0 }}</td>
        <td>{{ d['C'] ? d['C'] : 0 }}</td>
        <td>{{ d['D'] ? d['D'] : 0 }}</td>
        <td>{{ d['E'] ? d['E'] : 0 }}</td>
        <td>{{ d['F'] ? d['F'] : 0 }}</td>
        <td>{{ d['G'] ? d['G'] : 0 }}</td>
        <td>{{ d['H'] ? d['H'] : 0 }}</td>
        <td>{{ d['I'] ? d['I'] : 0 }}</td>
        <td>{{ d['J'] ? d['J'] : 0 }}</td>
        <td>{{ d['K'] ? d['K'] : 0 }}</td>
        <td>{{ d['L'] ? d['L'] : 0 }}</td>
        <td>{{ d['M'] ? d['M'] : 0 }}</td>        
        <td>{{ d['N'] ? d['N'] : 0 }}</td>
        <td>{{ d['O'] ? d['O'] : 0 }}</td>
        <td>{{ d['P'] ? d['P'] : 0 }}</td>
        <td>{{ d['Q'] ? d['Q'] : 0 }}</td>
        <td>{{ d['R'] ? d['R'] : 0 }}</td>
        <td>{{ d['S'] ? d['S'] : 0 }}</td>
        <td>{{ d['T'] ? d['T'] : 0 }}</td>
        <td>{{ d['U'] ? d['U'] : 0 }}</td>
        <td>{{ d['V'] ? d['V'] : 0 }}</td>
        <td>{{ d['W'] ? d['W'] : 0 }}</td>
        <td>{{ d['X'] ? d['X'] : 0 }}</td>
        <td>{{ d['Y'] ? d['Y'] : 0 }}</td>
        <td>{{ d['Z'] ? d['Z'] : 0 }}</td>
        <td>

          {{ totales[i] }}
          
        </td>
     </tr>
    </tbody>
  </table>
  </div>