<button type="button" (click)="carga()" class="btn btn-primary" >Carga</button>
<br>
<input value="{{sortArray}}" size="100px" />

<div *ngIf="dataList?.length > 0" style="margin: 10px;">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">number</th>
      <th scope="col">quantity</th>
      <th scope="col">first position</th>
      <th scope="col">last position</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of dataList; index as i" [class]="getBackgroundColor(d.quantity)" >
      <td>{{i+1}}</td>
      <td>{{d.data}}</td>
      <td>{{d.quantity}}</td>
      <td>{{d.first}}</td>
      <td>{{d.last}}</td>
   </tr>
  </tbody>
</table>
</div>